body{
    background-color: #efd592;
    font-family: 'Poppins', sans-serif;
}

button {
    display: block;
    position: fixed;

    width: 240px;
    height: 50px;

    border: 4px solid;
    border-color: #242D38;
    background-color: #efd592;
    
    transform: translate(-50%, -50%);

    padding: 0px;

    left: 50%;
    top: 50%;

    font-size: 16px;
    font-weight: bold; 
    letter-spacing: 0.2em;   
    text-transform: uppercase;
    font-family: 'Poppins';
  
    
}